body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: darkgreen;
}
.content ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
    display: inline-block;
}
a:hover{
    color: darkslategray;
    display: inline-block;
}
.google{
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.install{
    position: fixed;
    z-index: 1;
    width: 100%;
}
.hidden{
    display: none;
}
.content{
    display: flex;
    justify-items: center;
    align-items: stretch;
    flex-direction: column;
}