body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: darkgreen;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: darkslategray;
}
li::before{
    content: ">";
}